.wish-list-container{
    width: calc(100% - 10em);
      max-width: 720px;
    min-height: 600px;
      padding: 3em;
      margin: 0 auto;
      background-color: #07f844ec;
      z-index: 2;
  }
